.version.after_unfollowing /* version checker */
{
	color: #000005;
	background-color: #1E7EB0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 653.9999999999976px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -49px;
	width: 0.01px;
}

#pu6567
{
	width: 0.01px;
	margin-left: -100px;
}

#u6567
{
	z-index: 2;
	min-height: 689.55px;
	background-color: #7F7F7F;
	padding-bottom: 0px;
}

#u6567_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 27px;
}

#menuu6587
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	left: 20px;
	position: relative;
}

#u6609
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6610
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6610:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u6610:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u6612-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u6595
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u6598
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6598:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6616
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u6617
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6617:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6619
{
	height: 25px;
	width: 184px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	background: url("../images/u6619.png") no-repeat 0px 0px;
}

#u6617.MuseMenuActive #u6619
{
	background: url("../images/u6619-a.png") no-repeat 0px 0px;
}

#u6623
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u6624
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6624:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6588
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u6591
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6591:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6602
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u6605
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6605:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6598:active,#u6617:active,#u6624:active,#u6591:active,#u6605:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6612-4,#u6599-4,#u6625-4,#u6592-4,#u6608-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u6599-4_clip,#u6625-4_clip,#u6592-4_clip,#u6608-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u6612-4_img,#u6599-4_img,#u6625-4_img,#u6592-4_img,#u6608-4_img
{
	display: block;
}

#u6578
{
	z-index: 39;
	width: 1083px;
	background-color: #0B0600;
	left: 15px;
	margin-top: 13px;
	position: relative;
	padding: 7px 6px 8.350000000000023px 17px;
}

#ppu6641
{
	width: 0.01px;
}

#pu6641
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u6641
{
	z-index: 41;
	width: 226px;
	background-color: #FFFFFF;
	position: relative;
	padding: 7px 22px 12px 43px;
}

#u6562
{
	z-index: 42;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u6582
{
	z-index: 44;
	width: 41px;
	background-color: transparent;
	margin-left: 185px;
	margin-top: 9px;
	position: relative;
}

#u6577-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 57px;
	position: relative;
}

#u6586-27
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 342px;
}

#u6631
{
	z-index: 77;
	width: 278px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 805px;
}

#u6560-20
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u6568-7
{
	z-index: 148;
	width: 838px;
	min-height: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 43px;
	margin-top: 19px;
	position: relative;
}

#u6567-bw
{
	z-index: 2;
	min-height: 689.55px;
}

#u6630-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 91px;
}

#u6645
{
	z-index: 98;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 739px;
}

#u6634-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 696px;
}

#u6584
{
	z-index: 108;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 995px;
}

#u6636
{
	z-index: 114;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 1052px;
}

#u6647
{
	z-index: 132;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 995px;
}

#u6639
{
	z-index: 134;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 995px;
}

#u6558
{
	z-index: 136;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 995px;
}

#u6642
{
	z-index: 138;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 995px;
}

#u6632
{
	z-index: 140;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 1052px;
}

#u6569
{
	z-index: 142;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 1052px;
}

#u6580
{
	z-index: 144;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 1052px;
}

#u6564
{
	z-index: 146;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 1052px;
}

#accordionu6571
{
	z-index: 155;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 74px;
}

#u6572
{
	z-index: 156;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u6575
{
	z-index: 158;
	position: relative;
}

#u6575_states
{
	height: 37px;
	width: 358px;
	vertical-align: top;
	background: url("../images/u6575_states.png") no-repeat 0px 0px;
}

#u6575:hover #u6575_states
{
	background: url("../images/u6575_states-r.png") no-repeat 0px 0px;
}

#u6575:active #u6575_states
{
	background: url("../images/u6575_states-m.png") no-repeat 0px 0px;
}

#u6573
{
	z-index: 161;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u6574-5
{
	z-index: 162;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u6635-4
{
	z-index: 167;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 748px;
}

#u6579-4
{
	z-index: 171;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 442px;
	left: 847px;
}

#u6576-4
{
	z-index: 110;
	margin-left: 811px;
	top: -541px;
	margin-bottom: -23px;
	position: relative;
}

#u6576-4_img
{
	display: block;
	vertical-align: top;
}

#u6566-4
{
	z-index: 116;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -476px;
	margin-bottom: -23px;
	position: relative;
}

#u6638-4
{
	z-index: 120;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -421px;
	margin-bottom: -23px;
	position: relative;
}

#u6644-4
{
	z-index: 124;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -366px;
	margin-bottom: -23px;
	position: relative;
}

#u6557-4
{
	z-index: 128;
	display: block;
	vertical-align: top;
	margin-left: 812px;
	top: -306px;
	margin-bottom: -23px;
	position: relative;
}

#u6561
{
	z-index: 40;
	height: 111px;
	background-color: #181900;
}

#u6561-bw
{
	z-index: 40;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

