.version.after_yellow_card /* version checker */
{
	color: #0000F5;
	background-color: #52C702;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 653.9999999999976px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -49px;
	width: 0.01px;
}

#pu6680
{
	width: 0.01px;
	margin-left: -100px;
}

#u6680
{
	z-index: 2;
	min-height: 689.55px;
	background-color: #7F7F7F;
	padding-bottom: 0px;
}

#u6680_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 27px;
}

#menuu6700
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	left: 20px;
	position: relative;
}

#u6722
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6723
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6723:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u6723:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u6725-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u6708
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u6711
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6711:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6729
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u6730
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6730:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6732
{
	height: 25px;
	width: 184px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	background: url("../images/u6732.png") no-repeat 0px 0px;
}

#u6730.MuseMenuActive #u6732
{
	background: url("../images/u6732-a.png") no-repeat 0px 0px;
}

#u6736
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u6737
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6737:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6701
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u6704
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6704:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6715
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u6718
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6718:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6711:active,#u6730:active,#u6737:active,#u6704:active,#u6718:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6725-4,#u6712-4,#u6738-4,#u6705-4,#u6721-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u6712-4_clip,#u6738-4_clip,#u6705-4_clip,#u6721-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u6725-4_img,#u6712-4_img,#u6738-4_img,#u6705-4_img,#u6721-4_img
{
	display: block;
}

#u6691
{
	z-index: 39;
	width: 1083px;
	background-color: #0B0600;
	left: 15px;
	margin-top: 13px;
	position: relative;
	padding: 7px 6px 8.350000000000023px 17px;
}

#ppu6754
{
	width: 0.01px;
}

#pu6754
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u6754
{
	z-index: 41;
	width: 226px;
	background-color: #FFFFFF;
	position: relative;
	padding: 7px 22px 12px 43px;
}

#u6675
{
	z-index: 42;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u6695
{
	z-index: 44;
	width: 41px;
	background-color: transparent;
	margin-left: 185px;
	margin-top: 9px;
	position: relative;
}

#u6690-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 57px;
	position: relative;
}

#u6699-27
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 342px;
}

#u6744
{
	z-index: 77;
	width: 278px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 805px;
}

#u6673-19
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u6681-7
{
	z-index: 145;
	width: 838px;
	min-height: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 43px;
	margin-top: 19px;
	position: relative;
}

#u6680-bw
{
	z-index: 2;
	min-height: 689.55px;
}

#u6743-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 91px;
}

#u6758
{
	z-index: 97;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 739px;
}

#u6747-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 696px;
}

#u6749
{
	z-index: 111;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 1052px;
}

#u6760
{
	z-index: 129;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 995px;
}

#u6752
{
	z-index: 131;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 995px;
}

#u6671
{
	z-index: 133;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 995px;
}

#u6755
{
	z-index: 135;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 995px;
}

#u6745
{
	z-index: 137;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 1052px;
}

#u6682
{
	z-index: 139;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 1052px;
}

#u6693
{
	z-index: 141;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 1052px;
}

#u6677
{
	z-index: 143;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 1052px;
}

#accordionu6684
{
	z-index: 152;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 74px;
}

#u6685
{
	z-index: 153;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u6688
{
	z-index: 155;
	position: relative;
}

#u6688_states
{
	height: 37px;
	width: 358px;
	vertical-align: top;
	background: url("../images/u6688_states.png") no-repeat 0px 0px;
}

#u6688:hover #u6688_states
{
	background: url("../images/u6688_states-r.png") no-repeat 0px 0px;
}

#u6688:active #u6688_states
{
	background: url("../images/u6688_states-m.png") no-repeat 0px 0px;
}

#u6686
{
	z-index: 158;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u6687-5
{
	z-index: 159;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u6748-4
{
	z-index: 164;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 748px;
}

#u6692-4
{
	z-index: 168;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 442px;
	left: 847px;
}

#u6689-4
{
	z-index: 107;
	margin-left: 811px;
	top: -541px;
	margin-bottom: -23px;
	position: relative;
}

#u6689-4_img
{
	display: block;
	vertical-align: top;
}

#u6679-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -476px;
	margin-bottom: -23px;
	position: relative;
}

#u6751-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -421px;
	margin-bottom: -23px;
	position: relative;
}

#u6757-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -366px;
	margin-bottom: -23px;
	position: relative;
}

#u6670-4
{
	z-index: 125;
	display: block;
	vertical-align: top;
	margin-left: 812px;
	top: -306px;
	margin-bottom: -23px;
	position: relative;
}

#u6674
{
	z-index: 40;
	height: 111px;
	background-color: #181900;
}

#u6674-bw
{
	z-index: 40;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

