.version.after_red_card /* version checker */
{
	color: #000009;
	background-color: #26F8AE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 653.9999999999976px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -49px;
	width: 0.01px;
}

#pu6793
{
	width: 0.01px;
	margin-left: -100px;
}

#u6793
{
	z-index: 2;
	min-height: 689.55px;
	background-color: #7F7F7F;
	padding-bottom: 0px;
}

#u6793_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 27px;
}

#menuu6813
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	left: 20px;
	position: relative;
}

#u6835
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6836
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6836:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u6836:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u6838-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u6821
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u6824
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6824:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6842
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u6843
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6843:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6845
{
	height: 25px;
	width: 184px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	background: url("../images/u6845.png") no-repeat 0px 0px;
}

#u6843.MuseMenuActive #u6845
{
	background: url("../images/u6845-a.png") no-repeat 0px 0px;
}

#u6849
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u6850
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6850:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6814
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u6817
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6817:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6828
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u6831
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u6831:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6824:active,#u6843:active,#u6850:active,#u6817:active,#u6831:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u6838-4,#u6825-4,#u6851-4,#u6818-4,#u6834-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u6825-4_clip,#u6851-4_clip,#u6818-4_clip,#u6834-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u6838-4_img,#u6825-4_img,#u6851-4_img,#u6818-4_img,#u6834-4_img
{
	display: block;
}

#u6804
{
	z-index: 39;
	width: 1083px;
	background-color: #0B0600;
	left: 15px;
	margin-top: 13px;
	position: relative;
	padding: 7px 6px 8.350000000000023px 17px;
}

#ppu6867
{
	width: 0.01px;
}

#pu6867
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u6867
{
	z-index: 41;
	width: 226px;
	background-color: #FFFFFF;
	position: relative;
	padding: 7px 22px 12px 43px;
}

#u6788
{
	z-index: 42;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u6808
{
	z-index: 44;
	width: 41px;
	background-color: transparent;
	margin-left: 185px;
	margin-top: 9px;
	position: relative;
}

#u6803-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 57px;
	position: relative;
}

#u6812-27
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 342px;
}

#u6857
{
	z-index: 77;
	width: 278px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 805px;
}

#u6786-20
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u6794-7
{
	z-index: 148;
	width: 838px;
	min-height: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 43px;
	margin-top: 19px;
	position: relative;
}

#u6793-bw
{
	z-index: 2;
	min-height: 689.55px;
}

#u6856-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 91px;
}

#u6871
{
	z-index: 98;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 739px;
}

#u6860-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 696px;
}

#u6810
{
	z-index: 108;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 995px;
}

#u6862
{
	z-index: 114;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 1052px;
}

#u6873
{
	z-index: 132;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 995px;
}

#u6865
{
	z-index: 134;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 995px;
}

#u6784
{
	z-index: 136;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 995px;
}

#u6868
{
	z-index: 138;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 995px;
}

#u6858
{
	z-index: 140;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 1052px;
}

#u6795
{
	z-index: 142;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 1052px;
}

#u6806
{
	z-index: 144;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 1052px;
}

#u6790
{
	z-index: 146;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 1052px;
}

#accordionu6797
{
	z-index: 155;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 74px;
}

#u6798
{
	z-index: 156;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u6801
{
	z-index: 158;
	position: relative;
}

#u6801_states
{
	height: 37px;
	width: 358px;
	vertical-align: top;
	background: url("../images/u6801_states.png") no-repeat 0px 0px;
}

#u6801:hover #u6801_states
{
	background: url("../images/u6801_states-r.png") no-repeat 0px 0px;
}

#u6801:active #u6801_states
{
	background: url("../images/u6801_states-m.png") no-repeat 0px 0px;
}

#u6799
{
	z-index: 161;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u6800-5
{
	z-index: 162;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u6861-4
{
	z-index: 167;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 748px;
}

#u6805-4
{
	z-index: 171;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 442px;
	left: 847px;
}

#u6802-4
{
	z-index: 110;
	margin-left: 811px;
	top: -541px;
	margin-bottom: -23px;
	position: relative;
}

#u6802-4_img
{
	display: block;
	vertical-align: top;
}

#u6792-4
{
	z-index: 116;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -476px;
	margin-bottom: -23px;
	position: relative;
}

#u6864-4
{
	z-index: 120;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -421px;
	margin-bottom: -23px;
	position: relative;
}

#u6870-4
{
	z-index: 124;
	display: block;
	vertical-align: top;
	margin-left: 811px;
	top: -366px;
	margin-bottom: -23px;
	position: relative;
}

#u6783-4
{
	z-index: 128;
	display: block;
	vertical-align: top;
	margin-left: 812px;
	top: -306px;
	margin-bottom: -23px;
	position: relative;
}

#u6787
{
	z-index: 40;
	height: 111px;
	background-color: #181900;
}

#u6787-bw
{
	z-index: 40;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

