.version.arsenal_news_non_member /* version checker */
{
	color: #000005;
	background-color: #41686A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2498px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu5266
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u5266
{
	z-index: 2;
	min-height: 2468px;
	background-color: #7F7F7F;
}

#u5266_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 39px;
}

#menuu5326
{
	z-index: 4;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	left: 20px;
	position: relative;
}

#u5355
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5356
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u5356:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u5356:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u5358-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u5348
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u5349
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u5349:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u5327
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u5328
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u5328:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u5341
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u5342
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u5342:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u5334
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u5335
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u5335:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u5362
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u5365
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u5365:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u5349:active,#u5328:active,#u5342:active,#u5335:active,#u5365:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u5358-4,#u5352-4,#u5331-4,#u5345-4,#u5336-4,#u5368-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5352-4_clip,#u5331-4_clip,#u5345-4_clip,#u5336-4_clip,#u5368-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u5358-4_img,#u5352-4_img,#u5331-4_img,#u5345-4_img,#u5336-4_img,#u5368-4_img
{
	display: block;
}

#u5323
{
	z-index: 3;
	width: 877px;
	background-color: #000000;
	left: 120px;
	margin-top: 28px;
	position: relative;
	padding: 23px 18px 6.099999999999909px 25px;
}

#u5275-4
{
	z-index: 156;
	display: block;
	vertical-align: top;
	margin-left: 361px;
	position: relative;
}

#u5313
{
	z-index: 154;
	width: 845px;
	background-color: transparent;
	position: relative;
}

#u5261
{
	z-index: 112;
	width: 843px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 2px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#pu5262-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 61px;
	margin-left: 17px;
}

#u5262-5
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
}

#accordionu5308
{
	z-index: 170;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 23px;
	position: relative;
}

#u5309
{
	z-index: 171;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u5312
{
	z-index: 173;
	position: relative;
}

#u5312_states
{
	height: 37px;
	width: 358px;
	vertical-align: top;
	background: url("../images/u5312_states.png") no-repeat 0px 0px;
}

#u5312:hover #u5312_states
{
	background: url("../images/u5312_states-r.png") no-repeat 0px 0px;
}

#u5312:active #u5312_states
{
	background: url("../images/u5312_states-m.png") no-repeat 0px 0px;
}

#u5310
{
	z-index: 176;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u5311-13
{
	z-index: 177;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 8px;
}

#pu5408
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 496px;
}

#u5408
{
	z-index: 227;
	width: 326px;
	background-color: transparent;
	position: relative;
}

#pu5260-4
{
	width: 0.01px;
	margin-top: 9px;
}

#u5260-4
{
	z-index: 123;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5369-4
{
	z-index: 127;
	position: relative;
	width: 163px;
	margin-right: -10000px;
	left: 190px;
}

#u5320-5
{
	z-index: 118;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 72px;
	position: relative;
}

#u5322
{
	z-index: 140;
	width: 843px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 123px;
	position: relative;
}

#pu5272-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 25px;
}

#u5272-5
{
	z-index: 141;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#accordionu5267
{
	z-index: 190;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u5268
{
	z-index: 191;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u5271
{
	z-index: 193;
	height: 37px;
	width: 358px;
	vertical-align: top;
	position: relative;
	background: url("../images/u5271.png") no-repeat 0px 0px;
}

#u5271:hover
{
	background: url("../images/u5271-r.png") no-repeat 0px 0px;
}

#u5271:active
{
	background: url("../images/u5271-m.png") no-repeat 0px 0px;
}

#u5271.AccordionPanelTabOpen
{
	background: url("../images/u5271-a.png") no-repeat 0px 0px;
}

#u5269
{
	z-index: 197;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u5270-7
{
	z-index: 198;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#pu5324
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 497px;
}

#u5324
{
	z-index: 231;
	width: 326px;
	background-color: transparent;
	position: relative;
}

#pu5257-4
{
	width: 0.01px;
	margin-top: 13px;
}

#u5257-4
{
	z-index: 146;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5263-4
{
	z-index: 150;
	position: relative;
	width: 163px;
	margin-right: -10000px;
	left: 216px;
}

#pu5319-4
{
	width: 0.01px;
	margin-left: 410px;
	margin-top: 11px;
}

#u5319-4
{
	z-index: 160;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u5276-4
{
	z-index: 223;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u5274-4
{
	z-index: 164;
	display: block;
	vertical-align: top;
	margin-left: 381px;
	margin-top: 505px;
	position: relative;
}

#u5370
{
	z-index: 168;
	width: 62px;
	background-color: #000000;
	margin-left: 414px;
	margin-top: 696px;
	position: relative;
}

#u5266-bw
{
	z-index: 2;
	min-height: 2468px;
}

#slideshowu5277
{
	z-index: 42;
	width: 0.01px;
	height: 674px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1681px;
	left: 337px;
}

#u5299
{
	position: absolute;
	width: 487px;
	height: 634px;
	background-color: transparent;
	top: 40px;
}

#u5299popup
{
	z-index: 43;
}

#u5302
{
	z-index: 44;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5302_img
{
	padding: 62px 52px;
}

#u5300
{
	z-index: 46;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5300_img
{
	padding: 15px 55px;
}

#u5306
{
	z-index: 48;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5306_img
{
	padding: 18px 55px 17px;
}

#u5304
{
	z-index: 50;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5304_img
{
	padding: 17px 55px;
}

#u5284
{
	position: absolute;
	width: 229px;
	background-color: transparent;
	left: 129px;
}

#u5284popup
{
	z-index: 52;
}

#u5288-4
{
	z-index: 53;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5285-4
{
	z-index: 57;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5286-4
{
	z-index: 61;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5287-4
{
	z-index: 65;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5279-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 83px;
}

#u5279-4popup
{
	z-index: 69;
}

#u5278-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 373px;
}

#u5278-4popup
{
	z-index: 73;
}

.MenuItem,.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu5377
{
	z-index: 77;
	width: 0.01px;
	height: 469px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1141px;
	left: 223px;
}

#u5383
{
	position: absolute;
	width: 713px;
	height: 407px;
	background-color: transparent;
	top: 62px;
}

#u5383popup
{
	z-index: 78;
}

#u5390
{
	z-index: 79;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5390_clip
{
	overflow: hidden;
	width: 713px;
	height: 407px;
}

#u5390_img
{
	margin: -3px 30px -4px;
}

#u5384
{
	z-index: 81;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5384_img
{
	padding: 17px 31px 17px 32px;
}

#u5388
{
	z-index: 83;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5388_img
{
	padding-left: 30px;
	padding-top: 1px;
	padding-right: 29px;
}

#u5386
{
	z-index: 85;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5386_img
{
	padding-left: 30px;
	padding-top: 1px;
	padding-right: 30px;
}

#u5403
{
	position: absolute;
	width: 228px;
	background-color: transparent;
	left: 254px;
}

#u5403popup
{
	z-index: 87;
}

#u5406-4
{
	z-index: 88;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5407-4
{
	z-index: 92;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5405-4
{
	z-index: 96;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5404-4
{
	z-index: 100;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5382-4
{
	position: absolute;
	width: 8px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 214px;
}

#u5382-4popup
{
	z-index: 104;
}

#u5279,#u5382
{
	color: #999999;
}

#u5378-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 494px;
}

#u5378-4popup
{
	z-index: 108;
}

#u5321
{
	z-index: 131;
	width: 843px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 578px;
	left: 146px;
}

#accordionu5372
{
	z-index: 205;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 25px;
}

#u5373
{
	z-index: 206;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u5376
{
	z-index: 208;
	height: 37px;
	width: 358px;
	vertical-align: top;
	position: relative;
	background: url("../images/u5376.png") no-repeat 0px 0px;
}

#u5376:hover
{
	background: url("../images/u5376-r.png") no-repeat 0px 0px;
}

#u5376:active
{
	background: url("../images/u5376-m.png") no-repeat 0px 0px;
}

#u5376.AccordionPanelTabOpen
{
	background: url("../images/u5376-a.png") no-repeat 0px 0px;
}

#u5374
{
	z-index: 212;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u5375-10
{
	z-index: 213;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#pu5315
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 496px;
}

#u5315
{
	z-index: 229;
	width: 325px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#pu5317-4
{
	width: 0.01px;
	margin-top: 11px;
}

#u5317-4
{
	z-index: 132;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5318-4
{
	z-index: 136;
	position: relative;
	width: 120px;
	margin-right: -10000px;
	left: 216px;
}

#u5369-4_img,#u5263-4_img,#u5318-4_img
{
	display: block;
	vertical-align: top;
}

#u5273-5
{
	z-index: 233;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 274px;
}

#u5412
{
	z-index: 41;
	height: 73px;
	background-color: #181900;
}

#u5412-bw
{
	z-index: 41;
	margin-top: 2425px;
	height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2424px;
}

