.version.arsenal_news /* version checker */
{
	color: #00000E;
	background-color: #2E178E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2498px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu4915
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u4915
{
	z-index: 2;
	min-height: 2468px;
	background-color: #7F7F7F;
}

#u4915_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 39px;
}

#menuu4856
{
	z-index: 4;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	left: 20px;
	position: relative;
}

#u4878
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4881
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u4881:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u4881:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u4882-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u4857
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u4860
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u4860:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u4871
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u4872
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u4872:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u4892
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u4895
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u4895:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u4864
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u4867
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u4867:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u4885
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u4888
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u4888:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u4860:active,#u4872:active,#u4895:active,#u4867:active,#u4888:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u4882-4,#u4863-4,#u4875-4,#u4898-4,#u4869-4,#u4889-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u4863-4_clip,#u4875-4_clip,#u4898-4_clip,#u4869-4_clip,#u4889-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u4882-4_img,#u4863-4_img,#u4875-4_img,#u4898-4_img,#u4869-4_img,#u4889-4_img
{
	display: block;
}

#u4967
{
	z-index: 3;
	width: 877px;
	background-color: #000000;
	left: 120px;
	margin-top: 28px;
	position: relative;
	padding: 23px 18px 6.099999999999909px 25px;
}

#u4853-4
{
	z-index: 156;
	display: block;
	vertical-align: top;
	margin-left: 361px;
	position: relative;
}

#u4917
{
	z-index: 154;
	width: 845px;
	background-color: transparent;
	position: relative;
}

#u4854
{
	z-index: 112;
	width: 843px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 2px;
	margin-left: 1px;
	margin-top: 23px;
	position: relative;
}

#pu4963-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 61px;
	margin-left: 17px;
}

#u4963-5
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
}

#accordionu4908
{
	z-index: 170;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 23px;
	position: relative;
}

#u4909
{
	z-index: 171;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u4912
{
	z-index: 173;
	position: relative;
}

#u4912_states
{
	height: 37px;
	width: 358px;
	vertical-align: top;
	background: url("../images/u4912_states.png") no-repeat 0px 0px;
}

#u4912:hover #u4912_states
{
	background: url("../images/u4912_states-r.png") no-repeat 0px 0px;
}

#u4912:active #u4912_states
{
	background: url("../images/u4912_states-m.png") no-repeat 0px 0px;
}

#u4910
{
	z-index: 176;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u4911-13
{
	z-index: 177;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 8px;
}

#pu5005
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 496px;
}

#u5005
{
	z-index: 227;
	width: 326px;
	background-color: transparent;
	position: relative;
}

#pu4955-4
{
	width: 0.01px;
	margin-top: 9px;
}

#u4955-4
{
	z-index: 123;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u4956-4
{
	z-index: 127;
	position: relative;
	width: 163px;
	margin-right: -10000px;
	left: 190px;
}

#u4855-5
{
	z-index: 118;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 72px;
	position: relative;
}

#u4916
{
	z-index: 140;
	width: 843px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 123px;
	position: relative;
}

#pu4970-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 25px;
}

#u4970-5
{
	z-index: 141;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#accordionu4902
{
	z-index: 190;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u4903
{
	z-index: 191;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u4904
{
	z-index: 193;
	height: 37px;
	width: 358px;
	vertical-align: top;
	position: relative;
	background: url("../images/u4904.png") no-repeat 0px 0px;
}

#u4904:hover
{
	background: url("../images/u4904-r.png") no-repeat 0px 0px;
}

#u4904:active
{
	background: url("../images/u4904-m.png") no-repeat 0px 0px;
}

#u4904.AccordionPanelTabOpen
{
	background: url("../images/u4904-a.png") no-repeat 0px 0px;
}

#u4905
{
	z-index: 197;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u4906-7
{
	z-index: 198;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#pu5017
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 497px;
}

#u5017
{
	z-index: 231;
	width: 326px;
	background-color: transparent;
	position: relative;
}

#pu4966-4
{
	width: 0.01px;
	margin-top: 13px;
}

#u4966-4
{
	z-index: 146;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u4907-4
{
	z-index: 150;
	position: relative;
	width: 163px;
	margin-right: -10000px;
	left: 216px;
}

#pu4952-4
{
	width: 0.01px;
	margin-left: 410px;
	margin-top: 11px;
}

#u4952-4
{
	z-index: 160;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u5002-4
{
	z-index: 223;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u4954-4
{
	z-index: 164;
	display: block;
	vertical-align: top;
	margin-left: 381px;
	margin-top: 505px;
	position: relative;
}

#u4964
{
	z-index: 168;
	width: 62px;
	background-color: #000000;
	margin-left: 414px;
	margin-top: 696px;
	position: relative;
}

#u4915-bw
{
	z-index: 2;
	min-height: 2468px;
}

#slideshowu4822
{
	z-index: 42;
	width: 0.01px;
	height: 674px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1681px;
	left: 337px;
}

#u4824
{
	position: absolute;
	width: 487px;
	height: 634px;
	background-color: transparent;
	top: 40px;
}

#u4824popup
{
	z-index: 43;
}

#u4829
{
	z-index: 44;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4829_img
{
	padding: 62px 52px;
}

#u4831
{
	z-index: 46;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4831_img
{
	padding: 15px 55px;
}

#u4827
{
	z-index: 48;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4827_img
{
	padding: 18px 55px 17px;
}

#u4825
{
	z-index: 50;
	width: 487px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4825_img
{
	padding: 17px 55px;
}

#u4848
{
	position: absolute;
	width: 229px;
	background-color: transparent;
	left: 129px;
}

#u4848popup
{
	z-index: 52;
}

#u4850-4
{
	z-index: 53;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4852-4
{
	z-index: 57;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4851-4
{
	z-index: 61;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4849-4
{
	z-index: 65;
	width: 209px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4823-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 83px;
}

#u4823-4popup
{
	z-index: 69;
}

#u4847-4
{
	position: absolute;
	width: 9px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 373px;
}

#u4847-4popup
{
	z-index: 73;
}

.MenuItem,.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu4921
{
	z-index: 77;
	width: 0.01px;
	height: 469px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1141px;
	left: 223px;
}

#u4927
{
	position: absolute;
	width: 713px;
	height: 407px;
	background-color: transparent;
	top: 62px;
}

#u4927popup
{
	z-index: 78;
}

#u4934
{
	z-index: 79;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4934_clip
{
	overflow: hidden;
	width: 713px;
	height: 407px;
}

#u4934_img
{
	margin: -3px 30px -4px;
}

#u4932
{
	z-index: 81;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4932_img
{
	padding: 17px 31px 17px 32px;
}

#u4928
{
	z-index: 83;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4928_img
{
	padding-left: 30px;
	padding-top: 1px;
	padding-right: 29px;
}

#u4930
{
	z-index: 85;
	width: 713px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4930_img
{
	padding-left: 30px;
	padding-top: 1px;
	padding-right: 30px;
}

#u4947
{
	position: absolute;
	width: 228px;
	background-color: transparent;
	left: 254px;
}

#u4947popup
{
	z-index: 87;
}

#u4951-4
{
	z-index: 88;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4948-4
{
	z-index: 92;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4950-4
{
	z-index: 96;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4949-4
{
	z-index: 100;
	width: 208px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4922-4
{
	position: absolute;
	width: 8px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 214px;
}

#u4922-4popup
{
	z-index: 104;
}

#u4823,#u4922
{
	color: #999999;
}

#u4945-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 494px;
}

#u4945-4popup
{
	z-index: 108;
}

#u4953
{
	z-index: 131;
	width: 843px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 578px;
	left: 146px;
}

#accordionu4958
{
	z-index: 205;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 25px;
}

#u4959
{
	z-index: 206;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u4960
{
	z-index: 208;
	height: 37px;
	width: 358px;
	vertical-align: top;
	position: relative;
	background: url("../images/u4960.png") no-repeat 0px 0px;
}

#u4960:hover
{
	background: url("../images/u4960-r.png") no-repeat 0px 0px;
}

#u4960:active
{
	background: url("../images/u4960-m.png") no-repeat 0px 0px;
}

#u4960.AccordionPanelTabOpen
{
	background: url("../images/u4960-a.png") no-repeat 0px 0px;
}

#u4961
{
	z-index: 212;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u4962-10
{
	z-index: 213;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#pu5011
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 496px;
}

#u5011
{
	z-index: 229;
	width: 325px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#pu4901-4
{
	width: 0.01px;
	margin-top: 11px;
}

#u4901-4
{
	z-index: 132;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u4957-4
{
	z-index: 136;
	position: relative;
	width: 120px;
	margin-right: -10000px;
	left: 197px;
}

#u4956-4_img,#u4907-4_img,#u4957-4_img
{
	display: block;
	vertical-align: top;
}

#u5023-5
{
	z-index: 233;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 274px;
}

#u4971
{
	z-index: 41;
	height: 73px;
	background-color: #181900;
}

#u4971-bw
{
	z-index: 41;
	margin-top: 2425px;
	height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2424px;
}

