.version.football_info_female /* version checker */
{
	color: #00000D;
	background-color: #5B9C22;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 716px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu9259
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -81px;
	margin-left: -122px;
}

#u9259
{
	z-index: 2;
	width: 1205px;
	min-height: 751px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9248-3
{
	z-index: 3;
	width: 478px;
	min-height: 118px;
	background-color: #010008;
	line-height: 43px;
	font-size: 36px;
	color: #FFF3E1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 634px;
	left: 727px;
}

#u9251
{
	z-index: 6;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 649px;
	left: 740px;
}

#u9244
{
	z-index: 8;
	width: 163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 660px;
	left: 834px;
}

#u9236
{
	z-index: 10;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 644px;
	left: 1015px;
}

#u9253
{
	z-index: 12;
	width: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 694px;
	left: 1010px;
}

#u9247
{
	z-index: 20;
	width: 204px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 642px;
}

#u9255-4
{
	z-index: 21;
	margin-bottom: -5px;
	position: relative;
	width: 204px;
	margin-right: -10000px;
	left: -12px;
}

#u9261
{
	z-index: 25;
	width: 509px;
	background-color: #000000;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u9242-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 15px;
}

#u9231-5
{
	z-index: 30;
	position: relative;
	width: 509px;
	margin-right: -10000px;
	margin-top: 38px;
}

#u9243
{
	z-index: 35;
	width: 154px;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 581px;
	left: 459px;
}

#u9238
{
	z-index: 36;
	width: 37px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 929px;
}

#u9249
{
	z-index: 38;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 1060px;
}

#u9230
{
	z-index: 40;
	width: 369px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 294px;
	padding: 10px 94px 349px 110px;
}

#u9256-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	position: relative;
}

#pu9234-4
{
	width: 0.01px;
	margin-top: 39px;
}

#u9234-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u9246-4
{
	z-index: 104;
	position: relative;
	width: 56px;
	margin-right: -10000px;
	left: 70px;
}

#u9240-4
{
	z-index: 108;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u9241-4
{
	z-index: 116;
	position: relative;
	width: 127px;
	margin-right: -10000px;
	left: 214px;
}

#widgetu9262
{
	z-index: 41;
	width: 0.01px;
	height: 287px;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 403px;
}

#widgetu9269
{
	z-index: 42;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: -1px;
}

#widgetu9269.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: 84px -10000px 0px 0px;
}

#u9270-4
{
	z-index: 43;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu9269.non-empty-st #u9270-4
{
	background-color: #FFFFFF;
}

#widgetu9269:hover #u9270-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9269.focus-st #u9270-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9269.non-empty-st #u9270-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9269:hover #u9270-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9269.focus-st #u9270-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9282
{
	z-index: 47;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu9282.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u9283-4
{
	z-index: 48;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu9282.non-empty-st #u9283-4
{
	background-color: #FFFFFF;
}

#widgetu9282:hover #u9283-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9282.focus-st #u9283-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9282.non-empty-st #u9283-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9282:hover #u9283-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9282.focus-st #u9283-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u9263-4
{
	z-index: 52;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 141px;
}

#widgetu9262.frm-sub-st #u9263-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u9286-4
{
	z-index: 56;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 141px;
}

#widgetu9262.frm-subm-err-st #u9286-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u9268-4
{
	z-index: 60;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 141px;
}

#widgetu9262.frm-sub-st #u9263-4,#widgetu9262.frm-subm-err-st #u9286-4,#widgetu9262.frm-subm-ok-st #u9268-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu9262.frm-subm-ok-st #u9268-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u9281-17
{
	z-index: 64;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
	background: url("../images/u9281-17.png") no-repeat 0px 0px;
}

#u9281-17:hover
{
	background: url("../images/u9281-17-r.png") no-repeat 0px 0px;
}

#u9281-17:active
{
	background: url("../images/u9281-17-m.png") no-repeat 0px 0px;
}

#widgetu9262.frm-sub-st #u9281-17
{
	background: url("../images/u9281-17-fs.png") no-repeat 0px 0px;
}

#widgetu9277
{
	z-index: 81;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: -1px;
}

#widgetu9277.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: 41px -10000px 0px 0px;
}

#u9279-4
{
	z-index: 82;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu9277.non-empty-st #u9279-4
{
	background-color: #FFFFFF;
}

#widgetu9277:hover #u9279-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9277.focus-st #u9279-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9277.non-empty-st #u9279-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9277:hover #u9279-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9277.focus-st #u9279-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9273
{
	z-index: 86;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: -1px;
}

#widgetu9273.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: 125px -10000px 0px 0px;
}

#u9275-4
{
	z-index: 87;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu9273.non-empty-st #u9275-4
{
	background-color: #FFFFFF;
}

#widgetu9273:hover #u9275-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9273.focus-st #u9275-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9273.non-empty-st #u9275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9273:hover #u9275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9273.focus-st #u9275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9264
{
	z-index: 91;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
}

#widgetu9264.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: 167px -10000px 0px 0px;
}

#u9265-4
{
	z-index: 92;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu9264.non-empty-st #u9265-4
{
	background-color: #FFFFFF;
}

#widgetu9264:hover #u9265-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9264.focus-st #u9265-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9269.fld-err-st #u9270-4,#widgetu9282.fld-err-st #u9283-4,#widgetu9277.fld-err-st #u9279-4,#widgetu9273.fld-err-st #u9275-4,#widgetu9264.fld-err-st #u9265-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9264.non-empty-st #u9265-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9264:hover #u9265-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9264.focus-st #u9265-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9269.fld-err-st #u9270-4 *,#widgetu9282.fld-err-st #u9283-4 *,#widgetu9277.fld-err-st #u9279-4 *,#widgetu9273.fld-err-st #u9275-4 *,#widgetu9264.fld-err-st #u9265-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu9269_input,#widgetu9269_prompt,#widgetu9282_input,#widgetu9282_prompt,#widgetu9277_input,#widgetu9277_prompt,#widgetu9273_input,#widgetu9273_prompt,#widgetu9264_input,#widgetu9264_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu9269:hover #widgetu9269_input,#widgetu9269.focus-st #widgetu9269_input,#widgetu9269.fld-err-st #widgetu9269_input,#widgetu9269:hover #widgetu9269_prompt,#widgetu9269.focus-st #widgetu9269_prompt,#widgetu9269.fld-err-st #widgetu9269_prompt,#widgetu9282:hover #widgetu9282_input,#widgetu9282.focus-st #widgetu9282_input,#widgetu9282.fld-err-st #widgetu9282_input,#widgetu9282:hover #widgetu9282_prompt,#widgetu9282.focus-st #widgetu9282_prompt,#widgetu9282.fld-err-st #widgetu9282_prompt,#widgetu9277:hover #widgetu9277_input,#widgetu9277.focus-st #widgetu9277_input,#widgetu9277.fld-err-st #widgetu9277_input,#widgetu9277:hover #widgetu9277_prompt,#widgetu9277.focus-st #widgetu9277_prompt,#widgetu9277.fld-err-st #widgetu9277_prompt,#widgetu9273:hover #widgetu9273_input,#widgetu9273.focus-st #widgetu9273_input,#widgetu9273.fld-err-st #widgetu9273_input,#widgetu9273:hover #widgetu9273_prompt,#widgetu9273.focus-st #widgetu9273_prompt,#widgetu9273.fld-err-st #widgetu9273_prompt,#widgetu9264:hover #widgetu9264_input,#widgetu9264.focus-st #widgetu9264_input,#widgetu9264.fld-err-st #widgetu9264_input,#widgetu9264:hover #widgetu9264_prompt,#widgetu9264.focus-st #widgetu9264_prompt,#widgetu9264.fld-err-st #widgetu9264_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu9269.non-empty-st #widgetu9269_prompt,#widgetu9282.non-empty-st #widgetu9282_prompt,#widgetu9277.non-empty-st #widgetu9277_prompt,#widgetu9273.non-empty-st #widgetu9273_prompt,#widgetu9264.non-empty-st #widgetu9264_prompt
{
	visibility: hidden;
}

#u9232-4
{
	z-index: 112;
	position: relative;
	width: 120px;
	margin-right: -10000px;
	margin-top: 581px;
	left: 740px;
}

#u9255-4_img,#u9231-5_img,#u9246-4_img,#u9241-4_img,#u9232-4_img
{
	display: block;
	vertical-align: top;
}

#u9257
{
	z-index: 120;
	width: 133px;
	height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 503px;
	left: 403px;
}

.ie #u9243,.ie #u9257
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9233
{
	z-index: 14;
	width: 1183px;
	background-color: transparent;
	padding-bottom: 18px;
	margin-bottom: -18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 670px;
	left: -100px;
}

#u9258
{
	z-index: 15;
	width: 1205px;
	background-color: #0D0A00;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: -22px;
}

#u9235-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 15px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -670px;
}

