.version.forum_member /* version checker */
{
	color: #0000FD;
	background-color: #B93F9E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu11065
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u11065
{
	z-index: 2;
	min-height: 830px;
	background-color: #7F7F7F;
}

#u11065_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 29px;
}

#menuu11090
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 20px;
	position: relative;
}

#u11126
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11129
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u11129:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u11129:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u11132-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u11091
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u11092
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u11092:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u11098
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u11101
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u11101:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u11105
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u11106
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u11108-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 0px;
}

#u11112
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u11113
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u11106.MuseMenuActive,#u11113:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u11119
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u11120
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u11120:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u11092:active,#u11101:active,#u11113:active,#u11120:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u11132-4,#u11094-4,#u11103-4,#u11114-4,#u11122-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u11094-4_clip,#u11103-4_clip,#u11108-4_clip,#u11114-4_clip,#u11122-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u11132-4_img,#u11094-4_img,#u11103-4_img,#u11108-4_img,#u11114-4_img,#u11122-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u11135-3
{
	z-index: 41;
	width: 1074px;
	min-height: 691px;
	background-color: #000000;
	left: 40px;
	margin-top: 40px;
	position: relative;
}

#u11065-bw
{
	z-index: 2;
	min-height: 830px;
}

#u11133-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 71px;
}

#u11069-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 668px;
}

#u11085-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 859px;
}

#u11071
{
	z-index: 56;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 60px;
}

#u11082-4
{
	z-index: 79;
	position: relative;
	width: 296px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u11146-4
{
	z-index: 71;
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 481px;
}

#u11149-4
{
	z-index: 57;
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 611px;
}

#u11081-6
{
	z-index: 61;
	margin-bottom: -18px;
	position: relative;
	width: 296px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 741px;
}

#u11082-4_img,#u11146-4_img,#u11149-4_img,#u11081-6_img
{
	display: block;
	vertical-align: top;
}

#u11084-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 531px;
}

#u11086-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 895px;
}

#u11078
{
	z-index: 83;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 715px;
	left: 55px;
}

#u11141-4
{
	z-index: 111;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u11067-4
{
	z-index: 123;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 484px;
}

#u11080-4
{
	z-index: 143;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 613px;
}

#u11137-6
{
	z-index: 179;
	display: block;
	vertical-align: top;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: 742px;
}

#u11134
{
	z-index: 84;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 55px;
}

#u11089-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u11076-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 484px;
}

#u11145-4
{
	z-index: 139;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 613px;
}

#u11066-6
{
	z-index: 173;
	display: block;
	vertical-align: top;
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	left: 742px;
}

#u11142
{
	z-index: 85;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 60px;
}

#u11138-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u11073-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 481px;
}

#u11136-4
{
	z-index: 127;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 611px;
}

#u11148-6
{
	z-index: 147;
	display: block;
	vertical-align: top;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 741px;
}

#u11068
{
	z-index: 86;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 55px;
}

#u11144-4
{
	z-index: 91;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u11088-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 486px;
}

#u11147-4
{
	z-index: 131;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 613px;
}

#u11140-6
{
	z-index: 157;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 742px;
}

#u11079-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 60px;
}

#u11070-4
{
	z-index: 115;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 539px;
}

#u11077-4
{
	z-index: 135;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 671px;
}

#u11075-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 895px;
}

#u11083-4
{
	z-index: 163;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 895px;
}

#u11074-6
{
	z-index: 167;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 495px;
	left: 801px;
}

#u11087-4
{
	z-index: 185;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 538px;
	left: 895px;
}

#u11143-4
{
	z-index: 189;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 653px;
	left: 895px;
}

#u11072-4
{
	z-index: 193;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 750px;
	left: 895px;
}

#u11139
{
	z-index: 40;
	height: 111px;
	background-color: #181900;
}

#u11139-bw
{
	z-index: 40;
	margin-bottom: -35px;
	margin-top: 780px;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 19px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -780px;
}

