.version.forum_non_member /* version checker */
{
	color: #0000F1;
	background-color: #57F33C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu7143
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u7143
{
	z-index: 2;
	min-height: 830px;
	background-color: #7F7F7F;
}

#u7143_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 29px;
}

#menuu7089
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 20px;
	position: relative;
}

#u7097
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7100
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7100:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u7100:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u7102-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u7118
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u7121
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7121:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7125
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u7128
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7128:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7104
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u7107
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7109-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 0px;
}

#u7090
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u7091
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7107.MuseMenuActive,#u7091:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7111
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u7114
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7114:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7121:active,#u7128:active,#u7091:active,#u7114:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7102-4,#u7124-4,#u7131-4,#u7093-4,#u7115-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u7124-4_clip,#u7131-4_clip,#u7109-4_clip,#u7093-4_clip,#u7115-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u7102-4_img,#u7124-4_img,#u7131-4_img,#u7109-4_img,#u7093-4_img,#u7115-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u7145-3
{
	z-index: 41;
	width: 1074px;
	min-height: 691px;
	background-color: #000000;
	left: 40px;
	margin-top: 40px;
	position: relative;
}

#u7143-bw
{
	z-index: 2;
	min-height: 830px;
}

#u7147-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 71px;
}

#u7148-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 668px;
}

#u7149-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 859px;
}

#u7156
{
	z-index: 56;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 60px;
}

#u7146-4
{
	z-index: 79;
	position: relative;
	width: 296px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u7155-4
{
	z-index: 71;
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 481px;
}

#u7150-4
{
	z-index: 57;
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 611px;
}

#u7153-6
{
	z-index: 61;
	margin-bottom: -18px;
	position: relative;
	width: 296px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 741px;
}

#u7146-4_img,#u7155-4_img,#u7150-4_img,#u7153-6_img
{
	display: block;
	vertical-align: top;
}

#u7154-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 531px;
}

#u7157-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 895px;
}

#u7178
{
	z-index: 83;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 715px;
	left: 55px;
}

#u7165-4
{
	z-index: 111;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7168-4
{
	z-index: 123;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 484px;
}

#u7173-4
{
	z-index: 143;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 613px;
}

#u7184-6
{
	z-index: 179;
	display: block;
	vertical-align: top;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: 742px;
}

#u7177
{
	z-index: 84;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 55px;
}

#u7164-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u7167-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 484px;
}

#u7172-4
{
	z-index: 139;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 613px;
}

#u7183-6
{
	z-index: 173;
	display: block;
	vertical-align: top;
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	left: 742px;
}

#u7158
{
	z-index: 85;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 60px;
}

#u7159-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u7161-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 481px;
}

#u7169-4
{
	z-index: 127;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 611px;
}

#u7174-6
{
	z-index: 147;
	display: block;
	vertical-align: top;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 741px;
}

#u7175
{
	z-index: 86;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 55px;
}

#u7160-4
{
	z-index: 91;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u7162-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 486px;
}

#u7170-4
{
	z-index: 131;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 613px;
}

#u7181-6
{
	z-index: 157;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 742px;
}

#u7163-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 60px;
}

#u7166-4
{
	z-index: 115;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 539px;
}

#u7171-4
{
	z-index: 135;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 671px;
}

#u7179-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 895px;
}

#u7180-4
{
	z-index: 163;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 895px;
}

#u7182-6
{
	z-index: 167;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 495px;
	left: 801px;
}

#u7185-4
{
	z-index: 185;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 538px;
	left: 895px;
}

#u7186-4
{
	z-index: 189;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 653px;
	left: 895px;
}

#u7187-4
{
	z-index: 193;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 750px;
	left: 895px;
}

#u7135
{
	z-index: 40;
	height: 111px;
	background-color: #181900;
}

#u7135-bw
{
	z-index: 40;
	margin-bottom: -35px;
	margin-top: 780px;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 19px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -780px;
}

