.version.forum_non_member_error1 /* version checker */
{
	color: #00001C;
	background-color: #514E18;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu10890
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u10890
{
	z-index: 2;
	min-height: 830px;
	background-color: #7F7F7F;
}

#u10890_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 29px;
}

#menuu10915
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 20px;
	position: relative;
}

#u10951
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10954
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u10954:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u10954:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u10954.MuseMenuActive
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u10957-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u10916
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u10917
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u10917:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10923
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u10926
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u10926:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10917:active,#u10926:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10930
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u10931
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u10926.MuseMenuActive,#u10931:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10933
{
	height: 25px;
	width: 184px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	background: url("../images/u10933.png") no-repeat 0px 0px;
}

#u10931.MuseMenuActive #u10933
{
	background: url("../images/u10933-a.png") no-repeat 0px 0px;
}

#u10937
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u10938
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u10938:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10931:active,#u10938:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10944
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u10945
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u10938.MuseMenuActive,#u10945:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10945:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u10957-4,#u10919-4,#u10928-4,#u10939-4,#u10947-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u10919-4_clip,#u10928-4_clip,#u10939-4_clip,#u10947-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u10957-4_img,#u10919-4_img,#u10928-4_img,#u10939-4_img,#u10947-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u10960-3
{
	z-index: 40;
	width: 1074px;
	min-height: 691px;
	background-color: #000000;
	left: 40px;
	margin-top: 40px;
	position: relative;
}

#u10890-bw
{
	z-index: 2;
	min-height: 830px;
}

#u10958-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 71px;
}

#u10894-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 668px;
}

#u10910-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 859px;
}

#u10896
{
	z-index: 55;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 60px;
}

#u10907-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u10971-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 481px;
}

#u10974-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 611px;
}

#u10906-6
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-bottom: -18px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 741px;
}

#u10909-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 531px;
}

#u10911-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 895px;
}

#u10903
{
	z-index: 82;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 715px;
	left: 55px;
}

#u10966-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u10892-4
{
	z-index: 122;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 484px;
}

#u10905-4
{
	z-index: 142;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 613px;
}

#u10962-6
{
	z-index: 178;
	display: block;
	vertical-align: top;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: 742px;
}

#u10959
{
	z-index: 83;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 55px;
}

#u10914-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u10901-4
{
	z-index: 118;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 484px;
}

#u10970-4
{
	z-index: 138;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 613px;
}

#u10891-6
{
	z-index: 172;
	display: block;
	vertical-align: top;
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	left: 742px;
}

#u10967
{
	z-index: 84;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 60px;
}

#u10963-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10898-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 481px;
}

#u10961-4
{
	z-index: 126;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 611px;
}

#u10973-6
{
	z-index: 146;
	display: block;
	vertical-align: top;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 741px;
}

#u10893
{
	z-index: 85;
	width: 1043px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 55px;
}

#u10969-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u10913-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 486px;
}

#u10972-4
{
	z-index: 130;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 613px;
}

#u10965-6
{
	z-index: 156;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 742px;
}

#u10904-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 60px;
}

#u10895-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 539px;
}

#u10902-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 671px;
}

#u10900-4
{
	z-index: 152;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 895px;
}

#u10908-4
{
	z-index: 162;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 895px;
}

#u10899-6
{
	z-index: 166;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 495px;
	left: 801px;
}

#u10912-4
{
	z-index: 184;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 538px;
	left: 895px;
}

#u10968-4
{
	z-index: 188;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 653px;
	left: 895px;
}

#u10897-4
{
	z-index: 192;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 750px;
	left: 895px;
}

#u10980
{
	z-index: 196;
	width: 711px;
	background-color: #7F7F7F;
	padding-bottom: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 258px;
}

#u10981-7
{
	z-index: 197;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 58px;
}

#u10982-4
{
	z-index: 204;
	position: relative;
	width: 204px;
	margin-right: -10000px;
	margin-top: 381px;
	left: 513px;
}

#u11169-4
{
	z-index: 208;
	position: relative;
	width: 64px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 905px;
}

#u10982-4_img,#u11169-4_img
{
	display: block;
	vertical-align: top;
}

#u10964
{
	z-index: 39;
	height: 111px;
	background-color: #181900;
}

#u10964-bw
{
	z-index: 39;
	margin-bottom: -35px;
	margin-top: 780px;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 19px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -780px;
}

