.version.search_bruce /* version checker */
{
	color: #0000E8;
	background-color: #41426A;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 933.5999999999977px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -19px;
	width: 0.01px;
}

#pu9119
{
	width: 0.01px;
	margin-left: -100px;
}

#u9119
{
	z-index: 2;
	min-height: 877.5499999999997px;
	background-color: #7F7F7F;
	padding-bottom: 0px;
}

#u9119_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 36px;
}

#menuu8995
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	left: 20px;
	position: relative;
}

#u9024
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9027
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u9027:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u9027:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u9029-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u9010
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u9011
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u9011:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u8996
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u8997
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u8997:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u9000
{
	height: 25px;
	width: 184px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	background: url("../images/u9000.png") no-repeat 0px 0px;
}

#u8997.MuseMenuActive #u9000
{
	background: url("../images/u9000-a.png") no-repeat 0px 0px;
}

#u9003
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u9006
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u9006:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u9017
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u9020
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u9020:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u9031
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u9034
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u9034:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u9011:active,#u8997:active,#u9006:active,#u9020:active,#u9034:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u9029-4,#u9014-4,#u9009-4,#u9022-4,#u9036-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u9014-4_clip,#u9009-4_clip,#u9022-4_clip,#u9036-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u9029-4_img,#u9014-4_img,#u9009-4_img,#u9022-4_img,#u9036-4_img
{
	display: block;
}

#u9105
{
	z-index: 39;
	width: 1106px;
	background-color: #0B0600;
	padding-bottom: 180px;
	left: 15px;
	margin-top: 13px;
	position: relative;
}

#pu9089
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 17px;
}

#u9089
{
	z-index: 41;
	width: 226px;
	background-color: #FFFFFF;
	position: relative;
	padding: 7px 22px 12px 43px;
}

#u9038
{
	z-index: 42;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u9106
{
	z-index: 44;
	width: 41px;
	background-color: transparent;
	margin-left: 185px;
	margin-top: 9px;
	position: relative;
}

#u9080-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-top: 212px;
	position: relative;
}

#u9065-27
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 359px;
}

#u9043-4
{
	z-index: 109;
	position: relative;
	width: 232px;
	margin-right: -10000px;
	margin-top: 491px;
	left: 863px;
}

#u9119-bw
{
	z-index: 2;
	min-height: 877.5499999999997px;
}

#u9056-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 91px;
}

#u9044
{
	z-index: 77;
	width: 1083px;
	background-color: #FFFFFF;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 32px;
}

#pu9090-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u9090-6
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
}

#u9067-4
{
	z-index: 163;
	display: block;
	vertical-align: top;
	margin-left: 7px;
	margin-top: 287px;
	position: relative;
}

#u9104-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 484px;
}

#u11168-4
{
	z-index: 171;
	position: relative;
	width: 64px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1016px;
}

#u9081-7
{
	z-index: 86;
	width: 838px;
	min-height: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 658px;
	left: 32px;
}

#accordionu8989
{
	z-index: 93;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 738px;
	left: 34px;
}

#u8990
{
	z-index: 94;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u8993
{
	z-index: 96;
	position: relative;
}

#u8993_states
{
	height: 37px;
	width: 358px;
	vertical-align: top;
	background: url("../images/u8993_states.png") no-repeat 0px 0px;
}

#u8993:hover #u8993_states
{
	background: url("../images/u8993_states-r.png") no-repeat 0px 0px;
}

#u8993:active #u8993_states
{
	background: url("../images/u8993_states-m.png") no-repeat 0px 0px;
}

#u8991
{
	z-index: 99;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u8992-5
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u9064-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 739px;
	left: 715px;
}

#widgetu9091
{
	z-index: 123;
	width: 0.01px;
	height: 193px;
	position: relative;
	margin-right: -10000px;
	margin-top: 470px;
	left: 281px;
}

#widgetu9092
{
	z-index: 124;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u9094-4
{
	z-index: 125;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu9092.non-empty-st #u9094-4
{
	background-color: #FFFFFF;
}

#widgetu9092:hover #u9094-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9092.focus-st #u9094-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9092.non-empty-st #u9094-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9092:hover #u9094-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9092.focus-st #u9094-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u9097-4
{
	z-index: 129;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 267px;
}

#widgetu9091.frm-sub-st #u9097-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u9103-4
{
	z-index: 133;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 267px;
}

#widgetu9091.frm-subm-err-st #u9103-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u9096-4
{
	z-index: 137;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 267px;
}

#widgetu9091.frm-sub-st #u9097-4,#widgetu9091.frm-subm-err-st #u9103-4,#widgetu9091.frm-subm-ok-st #u9096-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu9091.frm-subm-ok-st #u9096-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u9102-17
{
	z-index: 141;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 267px;
	background: url("../images/u9102-17.png") no-repeat 0px 0px;
}

#u9102-17:hover
{
	background: url("../images/u9102-17-r.png") no-repeat 0px 0px;
}

#u9102-17:active
{
	background: url("../images/u9102-17-m.png") no-repeat 0px 0px;
}

#widgetu9091.frm-sub-st #u9102-17
{
	background: url("../images/u9102-17-fs.png") no-repeat 0px 0px;
}

#widgetu9098
{
	z-index: 158;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 418px;
}

#widgetu9092.fld-err-st,#widgetu9098.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u9101-4
{
	z-index: 159;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu9098.non-empty-st #u9101-4
{
	background-color: #FFFFFF;
}

#widgetu9098:hover #u9101-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9098.focus-st #u9101-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9092.fld-err-st #u9094-4,#widgetu9098.fld-err-st #u9101-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu9098.non-empty-st #u9101-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9098:hover #u9101-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9098.focus-st #u9101-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu9092.fld-err-st #u9094-4 *,#widgetu9098.fld-err-st #u9101-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu9092_input,#widgetu9092_prompt,#widgetu9098_input,#widgetu9098_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu9092:hover #widgetu9092_input,#widgetu9092.focus-st #widgetu9092_input,#widgetu9092.fld-err-st #widgetu9092_input,#widgetu9092:hover #widgetu9092_prompt,#widgetu9092.focus-st #widgetu9092_prompt,#widgetu9092.fld-err-st #widgetu9092_prompt,#widgetu9098:hover #widgetu9098_input,#widgetu9098.focus-st #widgetu9098_input,#widgetu9098.fld-err-st #widgetu9098_input,#widgetu9098:hover #widgetu9098_prompt,#widgetu9098.focus-st #widgetu9098_prompt,#widgetu9098.fld-err-st #widgetu9098_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu9092.non-empty-st #widgetu9092_prompt,#widgetu9098.non-empty-st #widgetu9098_prompt
{
	visibility: hidden;
}

#u8972-4
{
	z-index: 167;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 465px;
	left: 645px;
}

#u9116-4
{
	z-index: 82;
	margin-left: 39px;
	top: -727px;
	margin-bottom: -23px;
	position: relative;
}

#u9043-4_img,#u11168-4_img,#u9116-4_img
{
	display: block;
	vertical-align: top;
}

#u9077
{
	z-index: 40;
	height: 111px;
	background-color: #181900;
}

#u9077-bw
{
	z-index: 40;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

