.version.totenham_should_have_won_non_member /* version checker */
{
	color: #000012;
	background-color: #764F6C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1006px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu7764
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u7764
{
	z-index: 2;
	min-height: 1043px;
	background-color: #7F7F7F;
}

#u7764_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 20px;
	padding-bottom: 100px;
}

#menuu7765
{
	z-index: 3;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 20px;
	position: relative;
}

#u7787
{
	width: 183px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7790
{
	width: 183px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7790:hover
{
	background-color: #999999;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u7790:active
{
	background-color: #6B6B6B;
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u7793-4_clip
{
	overflow: hidden;
	width: 183px;
	height: 25px;
	vertical-align: top;
}

#u7766
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u7767
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7767:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7773
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u7774
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7774:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7780
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u7781
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7781:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7783
{
	height: 25px;
	width: 184px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	background: url("../images/u7783.png") no-repeat 0px 0px;
}

#u7781.MuseMenuActive #u7783
{
	background: url("../images/u7783-a.png") no-repeat 0px 0px;
}

#u7794
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#u7795
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7795:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7801
{
	width: 184px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u7804
{
	width: 184px;
	background-color: #000000;
	padding-bottom: 25px;
	position: relative;
}

#u7804:hover
{
	background-color: #999999;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7767:active,#u7774:active,#u7781:active,#u7795:active,#u7804:active
{
	background-color: #6B6B6B;
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7793-4,#u7768-4,#u7777-4,#u7797-4,#u7807-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u7768-4_clip,#u7777-4_clip,#u7797-4_clip,#u7807-4_clip
{
	overflow: hidden;
	width: 184px;
	height: 25px;
	vertical-align: top;
}

#u7793-4_img,#u7768-4_img,#u7777-4_img,#u7797-4_img,#u7807-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u7810-3
{
	z-index: 40;
	width: 1074px;
	min-height: 833px;
	background-color: #000000;
	left: 40px;
	margin-top: 40px;
	position: relative;
}

#u7764-bw
{
	z-index: 2;
	min-height: 1043px;
}

#u7751-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 71px;
}

#u7809-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 736px;
}

#u7762-4
{
	z-index: 51;
	position: relative;
	width: 296px;
	margin-right: -10000px;
	margin-top: 198px;
	left: 60px;
}

#u7763-5
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 305px;
	left: 83px;
}

#u7761-4
{
	z-index: 60;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 252px;
	left: 140px;
}

#u7759-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 128px;
}

#u7758-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 71px;
}

#u7760-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 614px;
	left: 71px;
}

#u7812-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 755px;
	left: 74px;
}

#u7820-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 477px;
	left: 74px;
}

#u7821-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 636px;
	left: 74px;
}

#u7822-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 777px;
	left: 74px;
}

#u8206-4
{
	z-index: 92;
	position: relative;
	width: 211px;
	margin-right: -10000px;
	margin-top: 387px;
	left: 71px;
}

#u7762-4_img,#u7761-4_img,#u8206-4_img
{
	display: block;
	vertical-align: top;
}

#u7756
{
	z-index: 39;
	height: 111px;
	background-color: #181900;
}

#u7756-bw
{
	z-index: 39;
	margin-bottom: -4px;
	margin-top: 962px;
	height: 111px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -961px;
}

