My first user testing was with Ali who has an interest into English football and football in general. He spends about 105 hours a week on internet therefore I think he is a potential user for footynet. He spends 50% of his time on Social network and 30% on football websites finding out information. I think he will use this social network as my social network is combined with football and also a social network. 

* When he visited my website the first insinct for him was to Log In with Facebook, he didn't even want to read about the social network on the about section. He just wanted to get onboard with the website. He also thought it was useful have social networks to be able to log in as its easier. When I took him through the sign up route, he also found out that this was simple as well as all you had to do was add in your username, email,password and your favourite English team. 

* I found out that the 'About' section on the homepage didn't stand out as much and wasn't clicked on. As a suggestion I recieved from Ali, he told me to have the about information on the welcome page so people can see it on there first visit to the social network. 

* The logos on the bottom of the page were also a issue I found out as Ali thought they were buttons when he first visited the website. I thing the size of the logos need to be changed. 
* The league table navigation was also not clear as I found out that Ali struggled when he was asked to find the league 2 league table. The icon to scroll needs to be more visible. 
* Another thing I found out which was said by all 3 of my users that the Red card-Block function was not easy to find as it was on the settings page. A contacts header might be necessary or a friends section on a different page might be necessary.
* One last suggestion by all 3 of the users, Ali,Callum and Kieron was that a mute button may be needed as sound on a social network can be annoying at times.   


With my second user Callum I found out again he uses the internet about 105 hours a week which is quite high considering we have 168 hours a week. He again spends a lot of time on sport websites and social networks which mean he may be a potential user of my social network. 

* The first thing Callum does when he enters the website is to Log in with Facebook. I think this is a really important feature in order to get the user boarding straight away, so I will keep this feature. 
* I found out a different result with the 'About' button on Callums test. He said"It was easy to notice the About button, it was the first thing I saw when I entered the website"
* The grey on the White with the navigation on the top of the page may be changed he suggested however in terms of colour he was happy with the homepage. 
* Again just like Ali, Callum thought navigation through different leagues wasn't clear, so we see a clear pattern that it HAS to be changed. This was useful for me and an action I will take. 
* Block button(red card) should be next to the X on profile page and also on friends page if you want to block a certain friend. 
* Change Language? 
* Forum should be visible to everyone but if someone wants to share a post, they need an account. 

My final user was Kieron who is an Charlton Athletic supporter, a team from a lower division who is a potential user. It was interesting to user test a fan from a lower division to see how engaged they were. 

* Kieron thought the video was really good and made the website look very advanced which was good, which means it will bring people in. 
* His first insict was again like with the other 2 users to Log in With Facebook. 
* A mute option is necessary as he didn't mind the sound but he said that some people might not like it. 
* Colour needs to be worked on like I found out from the other 2 users also, the colour fades in and the grey and white doesn't work well together. 
* Scrolling through league tables wasn't easy at first took some time, had to scroll down. 
* Search bar to look at specific football club news. 
* Blocking a friend with a red card was quite easy to do, as he knew already that for Facebook you have to go on settings to block a friend. 
* Chat to friends function? 
* "This will be something I definately use and will be really cool"
* Allow users to see forum but have certain restrictions.

There will be certain actions I take such as working with the colour, adding a mute button on the video and changing the position of the icons to scroll through league tables.

I think user testing is general is really useful and helpful to get your 'product' the best as possible. You need to see how your users behave ie: what they click on when they visit the website. You might see it differently than your users. You may design around how you want it but your customers may want it designed differently. Having tested it I can improve on features that I wouldn't have thought it was important for me but is important for users. I personally dont mind have sound on a welcome page however some of the users prefer a mute button, so I will work around this and add a mute button. 

User testing is vital and without it you can make a website that no one will be able to work around but with testing you can see the pros and cons of the social network. 


 



